#wrapper {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0; 
	overflow: hidden;
	display: none;
}

#main {
	background-color: rgba(21,11,45,0.8);
	border: 3px solid #50466A;
	position: absolute;
	top: 15%;
	right: 50%;
	margin-right: -30%;
	overflow: hidden;
	height: 66%;
	width: 52%;
	padding: 2% 4%;
	z-index: 15;
	transition: all 0.3s ease-out;
	opacity: 1;
}
	#main.tucked {
		right: calc(-28% + 10px);
		opacity: 0.3;
	}

	#clickbar {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 4%;
		cursor: pointer;
	}
		#logo {
			position: absolute;
			top: 4px;
			left: 4px;
			width: 90%;
			cursor: pointer;
			z-index: 20;
		}
		
	#tuck {
		position: absolute;
		top: 1%;
		right: 0;
		cursor: pointer;
	}
	
#summary {
	position: absolute;
	top: 5%;
	right: 20%;
	text-align: center;
	font-size: 2vh;
}

#controls {
	position: absolute;
	bottom: 4%;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	text-align: center;
	font-size: 2vh;
	display: none;
}
	#controls span {
		display: inline-block;
		min-width: 15%;
	}

.icon-talent {
	max-height: 4vh;
	border: 2px solid #B0B9CD;
	vertical-align: middle;
	cursor: pointer;
}

#table-stats {
	display: none;
}
	.stat-extra {
		display: none;
	}
	
	#table-stats select {
		font-size: 1vh;
	}
	
#table-stats, #table-talents {
	position: absolute;
	top: 4%;
	width: 90%;
	height: 70%;
	border-collapse: collapse;
	font-size: 1.5vh;
}
	#table-stats .row-header, #table-talents .row-header {
		font-weight: bold;
		color: #DBD6F7;
		height: 4vh;
	}
	
	#table-stats .row-header {
		cursor: pointer;
		font-size: 1vh;
	}
	
	#table-stats .icon-hero, #table-talents .icon-hero {
		max-height: 5vh;
		vertical-align: middle;
		cursor: pointer;
	}
	
	.column-stat {
		text-align: center;
	}
	
	.column-hero {
		position: relative;
		width: 5%;
		border-right: 10px solid transparent;
	}
		.hero-level {
			position: absolute;
			right: 0;
			bottom: 0;
			font-weight: bold;
			font-size: 1.5vh;
			color: white;
		}

	.player-name {
		font-size: 1.8vh;
	}
	
	.row-self {
		border: 3px solid #74A26B;
		color: #9CBD8A;
	}
		.row-self .player-name {
			color: #D4F1C7;
		}
		
	.row-ally {
		border-top: 2px solid #213660;
		border-bottom: 2px solid #213660;
		color: #6281B8;
	}
		.row-ally .player-name {
			color: #C8D4F4;
		}
		
	.row-self, .row-ally {
		background-color: #0F1B3B;
	}
	.row-enemy {
		border-top: 2px solid #4E1133;
		border-bottom: 2px solid #4E1133;
		background-color: #370921;
		color: #A67682;
	}
		.row-enemy .player-name {
			color: #FFDCE9;
		}
	
	.bar {
		width: 4px;
	}
		.row-self .bar {
			background-color: #9EED8E;
		}
		.row-ally .bar {
			background-color: #72CEF2;
		}
		.row-enemy .bar {
			background-color: #E67DA0;
		}
	
	.column-talent {
		width: 8%;
		text-align: center;
	}


#table-heroes {
	display: none;
}
	#table-heroes .icon-hero {
		max-height: 14vh;
		cursor: pointer;
	}

.hero {
	display: none;
	padding: 2% 5%;
	position: absolute;
	top: 3%;
	right: 5%;
	bottom: 3%;
	left: 5%;
	background-color: rgb(21,11,45);
	z-index: 20;
}
	.hero .close {
		position: absolute;
		top: 1%;
		right: 0;
		cursor: pointer;
	}
	
	.hero .icon-hero {
		max-height: 10vh;
		float: right;
	}
	.hero .icon-talent {
		max-height: 3vh;
	}
	
.wrapper-abilities {
	float: right;
}

	.table-abilities .icon-ability {
		max-height: 6vh;
		cursor: pointer;
	}
	
.table-talents {

}
	.table-talents .icon-talent {
		max-height: 5vh;
	}
